{% extends 'main/layout.html' %}
{% block title %}Расписание{% endblock %}
{% block content %}
<table align="center" border="1" cellpadding="3" cellspacing="1" class="t" width="100%">
<tr><th>день</th><th>Пара</th><th>Неделя</th><th>Подгруппы</th><th>Предмет</th><th>Преподаватель</th><th>Аудитория</th><th>Вид</th><th>комментарий</th></tr>
<tr><td align="center"  colspan="9"><b>Суббота</b> </td></tr><tr><td>Суббота</td><td>3-я пара</td><td>верхняя</td><td>  </td><td>градостроительный менеджмент и управление проектом</td><td> Лемзяков Александр Алексеевич <br/> </td><td>607 к.2</td><td>практика</td><td> </td></tr>
<tr><td>Суббота</td><td>3-я пара</td><td>нижняя</td><td>  </td><td>градостроительный менеджмент и управление проектом</td><td>Лемзяков Александр Алексеевич <br/> </td><td>607 к.2</td><td>практика</td><td> </td></tr>
</table>{% endblock %}